In [1]:
from pathlib import Path
import pandas as pd

In [2]:
# Set ROOT_DIR as the current working directory
ROOT_DIR = Path.cwd().parent
print(ROOT_DIR)

# Data path
data_path = ROOT_DIR / 'data'

/home/iiserb/Desktop/INOP

In [ ]:
df = pd.read_csv(data_path / 'Quote-Equity-RELIANCE-EQ-31-03-2024-to-31-03-2025.csv')
df.columns

In [ ]:


# Strip extra spaces from column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Convert 'date' to datetime format
df['date'] = pd.to_datetime(df['date'])

# Sort data by date
df = df.sort_values(by="date").reset_index(drop=True)

# Display cleaned columns
print(df.head())

        date series      open      high       low prev._close       ltp  \
0 2024-04-01     EQ  2,984.95  2,987.95  2,965.00    2,971.70  2,974.80
1 2024-04-02     EQ  2,968.00  2,988.00  2,950.00    2,969.55  2,977.00
2 2024-04-03     EQ  2,964.15  2,968.90  2,937.80    2,973.90  2,944.95
3 2024-04-04     EQ  2,959.50  2,959.50  2,900.00    2,943.20  2,931.00
4 2024-04-05     EQ  2,921.75  2,941.60  2,912.00    2,925.85  2,925.95

      close      vwap     52w_h     52w_l     volume               value  \
0  2,969.55  2,973.78  3,024.90  2,220.30  25,06,940   7,45,50,79,986.05
1  2,973.90  2,964.64  3,024.90  2,220.30  44,55,083  13,20,77,26,108.30
2  2,943.20  2,950.91  3,024.90  2,220.30  35,04,146  10,34,04,31,852.20
3  2,925.85  2,924.41  3,024.90  2,220.30  72,45,136  21,18,77,69,929.50
4  2,920.20  2,924.97  3,024.90  2,220.30  37,21,149  10,88,42,50,027.90

  no_of_trades
0     1,28,873
1     1,44,866
2     1,52,022
3     3,05,593
4     1,38,742

In [4]:
df['daily_return'] = df['close'].pct_change()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
df.columns

Index(['date', 'series', 'open', 'high', 'low', 'prev._close', 'ltp', 'close',
       'vwap', '52w_h', '52w_l', 'volume', 'value', 'no_of_trades'],
      dtype='object')

In [ ]:
expected_mean_return = df['daily_return'].mean()
print(f"Expected Mean Return: {expected_mean_return:.5f}")

Expected Mean Return: -0.00160

In [ ]:
risk = df['daily_return'].std()
print(f"Stock Risk (Volatility): {risk:.5f}")

Stock Risk (Volatility): 0.02056

In [ ]:
risk_free_rate = 0.0002  # Assuming 5% annual return

sharpe_ratio = (expected_mean_return - risk_free_rate) / risk
print(f"Sharpe Ratio: {sharpe_ratio:.5f}")

Sharpe Ratio: -0.08776

In [ ]:
df['cumulative_return'] = (1 + df['daily_return']).cumprod()

In [ ]:
df.head()

,date,series,open,high,low,prev._close,ltp,close,vwap,52w_h,52w_l,volume,value,no_of_trades,daily_return,cumulative_return
0,2024-04-01,EQ,357.0,364.20,355.60,353.75,357.90,356.95,358.96,374.50,204.25,"2,36,44,472","8,48,74,85,998.45","1,84,560",NaN,NaN
1,2024-04-02,EQ,359.0,362.85,356.50,356.95,357.95,357.10,359.04,374.50,204.25,"2,96,84,726","10,65,81,25,059.05","1,77,541",0.000420,1.000420
2,2024-04-03,EQ,356.5,359.80,353.20,357.10,357.00,357.10,356.65,374.50,204.25,"1,79,20,490","6,39,13,43,231.25","1,40,410",0.000000,1.000420
3,2024-04-04,EQ,359.4,367.80,358.00,357.10,362.20,361.30,362.67,374.50,204.25,"3,39,26,426","12,30,40,97,378.45","2,12,104",0.011761,1.012187
4,2024-04-05,EQ,361.0,374.85,359.05,361.30,373.00,373.20,369.34,374.85,204.25,"4,69,79,676","17,35,13,39,873.25","2,96,698",0.032937,1.045525